.left-contents
  .page-nav
    .page-nav__title
      マイページ
    %ul.page-nav__lists
      %li.page-nav__lists__list  
        = link_to new_item_path do
          出品する
          = icon("fas", "angle-right")
      %li.page-nav__lists__list
        = link_to "#" do
          出品した商品
          = icon("fas", "angle-right")
      %li.page-nav__lists__list
        = link_to "#" do
          購入した商品
          = icon("fas", "angle-right")
      %li.page-nav__lists__list
        = link_to "#" do
          お問い合わせ
          = icon("fas", "angle-right")
      %li.page-nav__lists__list
        = link_to "#" do
          お知らせ
          = icon("fas", "angle-right")
  .setting
    .setting__title
      設定
    %ul.setting__lists
      %li.setting__lists__list
        = link_to credit_user_path do
          お支払い方法
          = icon("fas", "angle-right")
      %li.setting__lists__list
        = link_to logout_user_path do
          ログアウト
          = icon("fas", "angle-right")