%header.header
  .header__inner
    .header__inner__upper
      %h1.header__inner__upper__left
        = link_to "#", class: "header__icon" do
          = image_tag 'material/logo/logo.png', alt: 'ヘッダーロゴの画像', height: '40px', width: '140px', class: 'header__logo'
      .header__inner__upper__right
        = form_tag '/', class: 'header__inner__upper__right__form' do
          = text_field_tag :items,'キーワードから探す', class: 'header__inner__upper__right__form__search-box'
          %button.header__inner__upper__right__form__search-btn
            = image_tag 'material/icon/icon-search 1.png', class: 'header__inner__upper__right__search-btn__img', width: '20px'
    .header__inner__nav
      %ul.header__inner__nav__left
        %li.header__inner__nav__left__list
          = link_to "カテゴリー"
        %li.header__inner__nav__left__list
          = link_to "ブランド"
      %ul.header__inner__nav__right
        %li.header__inner__nav__right__list
          = link_to "ログイン"
        %li.header__inner__nav__right__list
          = link_to "新規会員登録"
.main
  .main__mv
    .main__mv__content
      %h2.main__mv__content-ttl <br>人生を変えるフリマアプリ
      %p.main__mv__content-txt FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
      .main__mv__content-btn
        = link_to '#', class: "main__mv__content-btn__apple" do
          = image_tag 'material/icon/AppStore.svg', class: 'AppStore-btn'
        = link_to '#', class: "main__mv__content-btn__google" do
          = image_tag 'material/icon/GooglePlay.png', class: 'GooglePlay-btn'
  .main__feature
    %h2.main__feature__ttl FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list-img
          %span.number 1
          = image_tag 'material/pict/pict-reason-01.jpg', class: 'list-pict'
        %h3.list-txt <span>3分</span>ですぐに出品
        %p.list-description スマホで入力するだけで簡単に出品できる！
      %li.list
        .list-img
          %span.number 2
          = image_tag 'material/pict/pict-reason-02.jpg', class: 'list-pict'
        %h3.list-txt <span>シンプル</span>で使いやすい
        %p.list-description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list-img
          %span.number 3
          = image_tag 'material/pict/pict-reason-03.jpg', class: 'list-pict'
        %h3.list-txt 手数料<span>業界最安</span>
        %p.list-description 最大3%でお得に出品&購入！
  .main__middle
    .main__middle__innner
      %h2.main__middle__innner__ttl 会員数日本一
      %p.main__middle__innner__txt FURIMAは、フリマアプリで最も人気。<br>出品・購入回数も業界最多です！<br>ほしかったあの商品にも出会えるかもしれません。
      .main__middle__btn
        .main__middle__btn-apple
        .main__middle__btn-google
  .main__feature2
    %h2.main__feature2__head FURIMAの特徴
    .main__feature2__items
      %section.main__feature2__items__item
        %figure.main__feature2__items__item__img
          = image_tag 'material/icon/icon-01.png'
        %h3.main__feature2__items__item__ttl 簡単に売り買いできる
        %p.main__feature2__items__item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能!
      %section.main__feature2__items__item
        %figure.main__feature2__items__item__img
          = image_tag 'material/icon/icon-03.png'
        %h3.main__feature2__items__item__ttl 売上金は即日振込みに対応
        %p.main__feature2__items__item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.main__feature2__items__item
        %figure.main__feature2__items__item__img
          = image_tag 'material/icon/icon-04.png'
        %h3.main__feature2__items__item__ttl 様々な支払いに対応
        %p.main__feature2__items__item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        
  .main__items
    %h2.main__items__ttl ピックアップカテゴリー
    .main__items__box
      %h3.main__items__box__txt 新規投稿商品
      .main__items__box__lists
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item1.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name 白米
            .main__items__box__lists__list__body__details 
              %ul
                %li 10000円
                %li 1
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item2.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name ピザ
            .main__items__box__lists__list__body__details
              %ul
                %li 1000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item3.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name  生姜焼き
            .main__items__box__lists__list__body__details
              %ul
                %li 30000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item4.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name クリームコロッケ
            .main__items__box__lists__list__body__details
              %ul
                %li 20000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item5.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name  ぎょうざ
            .main__items__box__lists__list__body__details
              %ul
                %li 10000円
                %li 1
              %p (税込み)
.app-banner
  .app-banner__inner
    %h2.app-banner__inner__ttl だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__inner__txt 今すぐ無料ダウンロード！
    .app-banner__inner__icons

.footer
  %ul.footer__inner
    %li.footer__inner__lists
      %h2.footer__inner__lists__ttl FURIMAについて
      %ul
        %li 会社概要(運営会社)
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li ポイントに関する特約
    %li.footer__inner__lists
      %h2.footer__inner__lists__ttl FURIMAを見る
      %ul
        %li カテゴリー一覧 
        %li ブランド一覧
    %li.footer__inner__lists 
      %h2.footer__inner__lists__ttl ヘルプ&ガイド
      %ul
        %li FURIMAガイド
        %li FURIMAロゴ利用ガイドライン
        %li お知らせ
  .footer__logo
    = image_tag 'material/logo/logo-white.png', height: '46px', width:'140px', class: "footer__logo__img"
    %p &copy;FURIMA