.header
  .header__inner
    .header__innner__upper
      .header__innner__upper__left
      = link_to "#", class: "header__img" do
        = image_tag 'material/logo/logo.png', alt: 'ヘッダーロゴの画像', height: '40px', width: '140px', class: 'header-logo'
      .header__inner__upper__right
      -# = form_for do |f|
      -#   = f.text_field placeholder: "キーワードから探す", class: "header__search-form"
      -#   = f.submit
      -# ビュー実装後に記述
    .header__inner__nav
      .header__innner__nav__left
        %ul.header__inner__nav__left__ul
          %li.nav-btn カテゴリー
          %li.nav-btn ブランド
      .header__inner__nav__right
        %ul.header__inner__nav__right__ul
          %li.nav-btn ログイン
          %li.nav-btn 新規会員登録

.main
  .main__mv
    .main__mv__content
      .main__mv__content-ttl 人生を変えるフリマアプリ
      .main__mv__content-txt FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
      .main__mv__content-btn
        .main__mv__content-btn__apple
          -# = = image_tag '', alt: '', height: '', width: '', class: ''
        .main__mv__content-btn__google
  .main__feature
    %h2.main__feature__ttl FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list-img
          %span.number 1
          = image_tag 'material/pict/pict-reason-01.jpg', height: '300px', width: '300px', class: 'list-pict'
        %h3.list-txt <span>3分</span>ですぐに出品
        %p.list-description スマホで入力するだけで簡単に出品できる！
      %li.list
        .list-img
          %span.number 2
          = image_tag 'material/pict/pict-reason-02.jpg', height: '300px', width: '300px', class: 'list-pict'
        %h3.list-txt <span>シンプル</span>で使いやすい
        %p.list-description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list-img
          %span.number 3
          = image_tag 'material/pict/pict-reason-03.jpg', height: '300px', width: '300px', class: 'list-pict'
        %h3.list-txt 手数料<span>業界最安</span>
        %p.list-description 最大3%でお得に出品&購入！
  .main__middle
    .main__middle__innner
      %h2.main__middle__innner__ttl 会員数日本一
      %p.main__middle__innner__txt FURIMAは、フリマアプリで最も人気。<br>出品・購入回数も業界最多です！<br>ほしかったあの商品にも出会えるかもしれません。
      .main__middle__btn
        .main__middle__btn-apple
        .main__middle__btn-google
  .main__items
    %h2.main__items__ttl ピックアップカテゴリー
    .main__items__box
      %h3.main__items__box__txt 新規投稿商品
      .main__items__box__lists
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item1.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name 白米
            .main__items__box__lists__list__body__details 
              %ul
                %li 10000円
                %li 1
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item2.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name ピザ
            .main__items__box__lists__list__body__details
              %ul
                %li 1000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item3.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name  生姜焼き
            .main__items__box__lists__list__body__details
              %ul
                %li 30000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item4.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name クリームコロッケ
            .main__items__box__lists__list__body__details
              %ul
                %li 20000円
                %li 0
              %p (税込み)
        .main__items__box__lists__list
          .main__items__box__lists__list__img
          = image_tag 'material/item5.png', height: '150px', width: '220px'
          .main__items__box__lists__list__body
            %h3.main__items__box__lists__list__body__name  ぎょうざ
            .main__items__box__lists__list__body__details
              %ul
                %li 10000円
                %li 1
              %p (税込み)
.app-banner
  .app-banner__inner
    %h2.app-banner__inner__ttl だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__inner__txt 今すぐ無料ダウンロード！
    .app-banner__inner__icons

.footer
  %ul.footer__inner
    %li.footer__inner__lists
      %h2.footer__inner__lists__ttl FURIMAについて
      %ul
        %li 会社概要(運営会社)
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li ポイントに関する特約
    %li.footer__inner__lists
      %h2.footer__inner__lists__ttl FURIMAを見る
      %ul
        %li カテゴリー一覧 
        %li ブランド一覧
    %li.footer__inner__lists 
      %h2.footer__inner__lists__ttl ヘルプ&ガイド
      %ul
        %li FURIMAガイド
        %li FURIMAロゴ利用ガイドライン
        %li お知らせ
  .footer__logo
    = image_tag 'material/logo/logo-white.png', height: '46px', width:'140px', class: "footer__logo__img"
    %p &copy;FURIMA