= render partial: 'header'

.new-container

  出品画像
  = render partial:'req' 
  <br>
  最大１０枚までアップロードできます
  <br>

  商品名
  = render partial:'req' 
  <br>

  商品の説明
  = render partial:'req' 
  <br>

  商品の詳細
  <br>

  カテゴリー
  = render partial:'req' 
  <br>

  ブランド
  %span 任意
  <br>

  配送について
  <br>

  配送料の負担
  = render partial:'req' 
  <br>

  発送元の地域
  = render partial:'req' 
  <br>

  発送までの日数
  = render partial:'req' 
  <br>

  価格（¥300〜9,999,999）
  <br>

  販売価格
  = render partial:'req' 
  <br>
  販売手数料（10%）
  <br>
  販売利益
  <br>
  出品する
  <br>
  戻る
  <br>
  禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  


  
  






= render partial: 'footer'