%header.header
  = render 'header'

.items__show__main
  .items__show__main__container
    .items__show__main__container__top
      .items__show__main__container__top__itemBox
        %h2.items__show__main__container__top__itemBox__name
          = @item.name
        .items__show__main__container__top__itemBox__body
          %ul
            %li
              = image_tag @item.images[0].src.url, height: '300px', width: '300px'
            %ul
              - @item.images.each do |image|
                %li
                  = image_tag image.src.url, height: '100px', width: '100px'
        .items__show__main__container__top__itemBox__price
          = "¥#{@item.price}"
          %span (税込)送料込
        .items__show__main__container__top__itemBox__description
          .logo 商品詳細
          .text
            = @item.description
        .items__show__main__container__top__itemBox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to(@parent_category.name, '#')
                  %br/
                  %span >
                  = link_to(@child_category.name, '#')
                  %br/
                  %span >
                  = link_to(@grand_child_category.name, '#')
              %tr
                %th ブランド
                %td 
                  = @item.brand
              %tr
                %th 商品の状態
                %td
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.shipping_costs
              %tr
                %th 発送元の地域
                %td
                  = @item.shipping_from
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping_date
        .items__show__main__container__top__itemBox__btn
          %ul.items__show__main__container__top__itemBox__btn__container
            - if user_signed_in? && current_user.id != @item.user_id
              %li.items__show__main__container__top__itemBox__btn__container__buy
                = link_to '購入画面に進む', buy_user_path(current_user.id, item_id: @item.id)
            - if user_signed_in? && current_user.id == @item.user.id
              %li.items__show__main__container__top__itemBox__btn__container__edit
                = link_to '編集', '#'
              %li.items__show__main__container__top__itemBox__btn__container__delete
                = link_to '削除', '#'
        
    -#   items__show__main__container__top__itemBox__optionalArea
    -#   お気に入り登録機能、通報機能を後に実装
    -#   .items__show__main__container__top__commentBox
    -#   コメントボックスを後に実装
    -# .items__show__main__container__relationItems
    -# 関連商品の表示機能を後に実装

%footer.footer
  = render 'footer'

= render "purchase_btn"